{% extends "layout.html" %}
{% block content %}
<h1>掲示板</h1>

<form action="/result" method="post">
    <input type="hidden" name="thread" value="{{ thread }}">
    <label for="article">投稿</label>
    <textarea name="article" rows="6" cols="100"></textarea>
    <p></p>
    <label for="name">名前</label>
    <input type="text" name="name">
    <button type="submit">送信する</button>
</form>

<h2>投稿一覧 {{ thread }}</h2>

    <table class="table">
    <thead class="thead-dark">
        <tr>
        <th>日付</th>
        <th>名前</th>
        <th>投稿</th>
        </tr>
    </thead>
    <tbody>
        {% for f in articles: %}
            <tr>
                <th scope="row"><font size="1">{{ f.pub_date.strftime('%Y/%m/%d %H:%M:%S') }}</font></th>
                <td>{{ f.name }}</td>
                <td>{{ f.article }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    <a href="{{ url_for('index') }}">戻る</a>
{% endblock %}